[submodule "external/cmocka"]
	path = external/cmocka
	url = https://github.com/clibs/cmocka.git
[submodule "external/libyaml"]
	path = external/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "external/libcyaml"]
	path = external/libcyaml
	url = https://github.com/tlsa/libcyaml.git
