.DS_Store
build/
build-*/
*.code-workspace
compile_commands.json
.cache/
site/
*.cgns
.clangd

# These files must be generated in the source directory so CEED's JIT compiler can find them.
src/swe/swe_ceed.h
src/tracer/tracer_ceed.h
