[submodule "external/cmocka"]
	path = external/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
[submodule "external/libyaml"]
	path = external/libyaml
	url = https://github.com/yaml/libyaml.git
[submodule "external/libcyaml"]
	path = external/libcyaml
	url = git@github.com:tlsa/libcyaml.git
